* {
  list-style-type: none;
}
.navbar {
  background-color: royalblue;
  display: flex;
  height: 60px;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid black;
}
.logo {
  font-family: "Quicksand";
  font-size: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo span {
  color: #fff;
  margin-left: 10px;
  background-color: black;
  width: 180px;
  text-align: center;
  border: none;
  border-radius: 12px;
  align-items: center;
}
.logo div {
  background-color: white;
  width: 90px;
  text-align: center;
  border: none;
  border-radius: 12px;
}
.nav-container {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu .nav-link {
  color: black;
  text-decoration: none;
  font-family: "Quicksand";
  font-size: 20px;
  padding: 10px;
}
.nav-link:hover {
  color: white;
}
.menu-icon {
  display: none;
  cursor: pointer;
}
.menu-icon div {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
  transition: all 0.3s ease;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .nav-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50%;
    height: 58vh;
    background-color: royalblue;
  }
  .nav-menu.show {
    display: flex;
  }

  .menu-icon {
    display: block;
    right: 30px;
    position: absolute;
  }

  .menu-icon.hide {
    display: none;
  }
  .logo {
    position: absolute;
    left: 20px;
    font-size: 1.8rem;
    text-decoration: none;
    z-index: 999;
  }
  .logo div {
    width: 100px;
  }

  .nav-menu .nav-link {
    width: 100%;
    text-align: center;
    color: #fff;
  }
  .nav-menu li {
    text-decoration: none;
    padding: 10px 0;
    display: block;
    width: 30%;
    transition: all 0.3s ease;
    height: 55px;
    align-items: center;
  }
  .nav-link:hover {
    color: black;
  }
}

@media (max-width: 768px) {
  .nav-menu {
    height: 70vh;
  }
}
@media (max-width: 468px) {
  .nav-menu {
    width: 65%;
    height: 75vh;
  }
  .nav-menu .nav-link {
    font-size: 18px;
  }
  .logo {
    font-size: 25px;
  }
}
@media (max-width: 390px) {
  .nav-menu {
    height: 80vh;
  }
  .logo {
    font-size: 25px;
  }
  .nav-menu .nav-link {
    font-size: 18px;
  }
}
@media (max-width: 375px) {
  .menu-icon {
    right: 13px;
  }
}
@media (max-width: 360px) {
  .nav-menu {
    height: 75vh;
  }
  .nav-menu .nav-link {
    font-size: 16px;
  }
  .logo {
    font-size: 22px;
  }
  .logo div {
    width: 80px;
  }
  .logo span {
    width: 135px;
  }
  .menu-icon {
    right: 5px;
  }
}
@media (max-width: 320px) {
  .nav-menu .nav-link {
    font-size: 12px;
    height: 1px;
  }
  .nav-menu {
    height: 95vh;
  }
}
